
div.sign-in{
  display:flex;
  justify-content:space-between;
  margin-right:4%;;
  
}
div.sign-in div.sign-in-info {
  margin-left:2%;
  display:flex;
  width:80%;
  align-items:flex-start;
}
div.sign-in div.sign-in-info p{
  font-size: 14px;
  margin-left:1%;
  margin-top: -.1%;
}

header {
  display:flex;
  
}
header div.site-logo{
  margin-left:1%;
}

header div.social-media {
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  height: 75%;
}
header div.social-media img {
  width: 4.5%;
  margin-right:5%;
  
}
header div.social-media img:hover{
  border-bottom: 2px solid #4AB7E8;
  padding-bottom:2%;
  transition:padding-bottom 250ms;
}
header div.social-media input {
  margin-right:5%;
  align-self:center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 35vw;
  height: 6vh;
  padding-left:4%;
}
header div.site-nav {
  display:flex;
  justify-content: space-around;
  margin-top: 5%;
}

header div.nav-content{
  display:flex;
  flex-direction:column;
  justify-content: center;
  margin-right: 3%;
  width:80%;
  
}


/* after this we start on main. section link*/
img#main-img {
  margin-left:-10px;
  max-height:150vh;
  max-width:100vw;
  
}
section#link div.img-btn{
  display:flex;
  justify-content:flex-end;
  border:1px solid red;
  margin-top:-475px;
  
}
section#link img#white-space {
  margin-top:280px;
  width:110%;
  margin-left:-5vw;
  height:180px;
  border:1px solid red;
}
section#link div.img-links{
  margin-top:-10vh;
  display:flex;
  justify-content:space-evenly;
  
}
section#link div.img-links div{
  display:flex;
  flex-direction:column;
}

/* after this is the middle section*/

section#middle{
  height:200px;
  background-image: url(gov-pic.png);
  border:1px solid black;
}
section#middle div.middle-words{
  text-align:center;
  margin-top:80px;
}
