div.sign-in{
  display:flex;
  justify-content:space-between;
  margin-right:4%;;
  
}
div.sign-in div.sign-in-info {
  margin-left:2%;
  display:flex;
  width:80%;
  align-items:flex-start;
}
div.sign-in div.sign-in-info p{
  font-size: 14px;
  margin-left:1%;
  margin-top: -.1%;
}

header {
  display:flex;
  
}
header div.site-logo{
  margin-left:1%;
}

header div.social-media {
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  height: 75%;
}
header div.social-media img {
  width: 4.5%;
  margin-right:5%;
  
}
header div.social-media img:hover{
  border-bottom: 2px solid #4AB7E8;
  padding-bottom:2%;
  transition:padding-bottom 250ms;
}
header div.social-media input {
  margin-right:5%;
  align-self:center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 35vw;
  height: 6vh;
  padding-left:4%;
}
header div.site-nav {
  display:flex;
  justify-content: space-around;
  margin-top: 5%;
}

header div.nav-content{
  display:flex;
  flex-direction:column;
  justify-content: center;
  margin-right: 3%;
  width:80%;
  
}



